<font style="bold" size="5" color="#100000">Członkowie Grupy:</font><br><br>
<font style="bold" size="4" color="#100000"><center>Miłosz Osiński<br><br>Marcin Magierski<br><br>Michał Grochalski<br><br>Krystian Hallmann<br><br>Sebastian Mikołajczyk<br><br></center></font>
<div class="fb-like-box" data-href="http://www.facebook.com/pages/Napster/163156913809271" data-width="292" data-height="460" data-show-faces="true" data-border="0" data-frameborder="0" data-stream="false" data-header="false"></div>
<div class="zalozenia">
<font style="bold" size="5" color="#100000">Założenia Projektu:</font><br><br>
<font style="bold" size="4" color="#100000">Stworzenie serwisu w którym użytkownik może dodać piosenke czyli wykonawce<br>tytuł album i tekst podzielić się nią na facebook-u lub twitterze.<br>Umożliwienie użytkownikowi utworzenia konta z własnym avatarem.<br>
Posiadanie listy znajomych z serwisu.</font>
</div>
<a id="forkme_banner" href="https://github.com/mosinski/napster">Fork Me on GitHub</a>
