<%= render :partial => "users/rejestracja" %>
<iframe height="400" width="800" src="/slajdy" SCROLLING="no" frameborder="0"></iframe>
<div class="witaj_info">
<h2>Wystarczy się zarejestrować i zalogować. Zapraszamy!</h2><br>
<span class="label label-info">NOWOŚĆ</span><h3>Przeglądanie Portalu jako Gość <%= link_to 'Wchodzę!', fortunes_path, :class => 'btn btn-warning'%></h3>
</div>
<img src="http://napsterug.herokuapp.com/Girl.png" alt="Girl" class="girl">
<img src="http://napsterug.herokuapp.com/Boy.gif" alt="Boy" class="boy">
