<h1>Witaj</h1>
<h3>Chcemy zaprezentować Ci portal w którym możesz:<br>
- dzielić się tytułami i tekstami ulubionch piosenek ZA DARMO<br>
- komentować utwory wstawione przez innych (opcja <u>wkrótce</u> dostępna)<br>
- oddawać głosy na piosenki (opcja <u>wkrótce</u> dostępna)</h3>
<br>
<h2>Wystarczy się zarejestrować i zalogować. Zapraszamy!</h2>
