@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  src: local('Exo Medium'), local('Exo-Medium'), url(http://themes.googleusercontent.com/static/fonts/exo/v1/yLVQVmQgTSUkafMu4HoVJA.woff) format('woff');
}
